:root {
    /* Background colors */
    --top-color: #ffffff;
    --bottom-color: #add8e6;

    /* General colors */
    --text-color: #000000;
    --input-bg: #ffffff;
    --input-text-color: #000000;
    --button-bg: #2c3e50;
    --button-text: #ffffff;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    background: linear-gradient(to bottom, var(--top-color), var(--bottom-color));

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 360px;
    margin-bottom: 20px;
}

label {
    color: var(--text-color);
    font-weight: bold;
    display: block;
    margin-top: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    background: var(--input-bg);
    color: var(--input-text-color);
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.password-visibility {
    width: 40px;
    position: absolute;
    right: 0px;
    top: 8px;
    padding: 5px 0px;
    cursor: pointer;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}